@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.logo {
    height: 70px;
    width: 80px;
    padding: 10px;
}

#navlink1 {
    color: #323f4b;
}

#navlink2 {
    color: #323f4b;
}

#navlink3 {
    color: #323f4b;
}

#navlink4 {
    color: #323f4b;
}

.background-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png");
    height: 100vh;
    background-size: cover;
}

.heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: bold;
}

.button-property {
    background-color: #1a2137;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 500;
    height: 45px;
    width: 130px;
    border-radius: 8px;
    border-width: 0px;
    padding: 10px;
}

.vr-features-heading {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 26px;
    font-weight: bold;
}

.feautures-section {
    border-radius: 8px;
}

.image-property {
    height: 80px;
    width: 80px;
    padding: 20px;
}

.features-heading-section {
    font-size: 23px;
    font-family: "Roboto";
    font-weight: 500;
    color: #1f2933;
}

.features-para-section {
    font-size: 15px;
    font-weight: lighter;
    font-family: "Roboto";
    color: #7b8794;
}

.span-word {
    font-style: italic;
    font-weight: 900;
    color: #1f2933;
}

.kit-image-property {
    height: 250px;
    width: 200px;
}

.vr-kit-heading {
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto";
    color: #1f2933;
}

.vr-para-section {
    color: #323f4b;
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto";
}

.wocs-img-section {
    margin-bottom: 10px;
    width: 100%;
}

.woc-heading {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
}

.woc-para {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 20px;
}

.custom-button {
    color: white;
    background-color: #1a2137;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 4px;
}

.contact-us-section {
    background-color: #222b36;
}

.contact-us-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 700;
}

.contact-img {
    width: 100%;
    margin-bottom: 10px;
}

.trending-blogs-heading {
    color: #959ead;
    font-size: 18px;

}

.trending-blogs-para {
    color: #323f4b;
    font-size: 20px;
}

.read-more-link {
    font-weight: 700;
    color: #1754a1;
}

.view-all-button {
    color: #ffffff;
    background-color: #1754a1;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    width: 173px;
    height: 56px;
    border-width: 0;
    border-radius: 4px;
}

.product-background1 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png");
    background-size: cover;
}

.product-background2 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png");
    background-size: cover;
}

.product-card {
    width: 100%;
    height: 600px;
}

.product-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 500;
}

.product-para {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
}

.product-button {
    color: #ffffff;
    background-color: transparent;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    width: 120px;
    height: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 4px;
}

.v-image {
    height: 36px;
    width: 56px;
}

.icon {
    color: #5a7184;
    font-size: 18px;
}

.icon-background {
    background-color: #202b36;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 8px;
    margin-left: 8px;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 15px;
    padding-bottom: 30px;
}

.address-heading {
    color: #5a7184;
    font-size: 20px;
    font-weight: 500;
}

.vr-footer-section-list {
    list-style-type: none;
    padding-left: 0;
}

.colour {
    color: #5a6184;
}

.thanking-customers-section {
    background-color: #d0b2001a;
}

.thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.hr-line {
    background-color: #5a7184;
}
